/* CSS for About Us page */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.menu-item {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-item li {
  margin: 0;
}

.menu-item li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 50px; /* make it circular */
  background-color: #FF5733; /* orange background color */
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

header {
  background-color: #4CAF50; /* green background color */
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  margin-bottom: 20px;
  border: 1px solid #fff; /* Thin white outline */
  padding: 20px;
  text-align: left; /* Left align text within sections */
}

h2 {
  color: #333;
}

.creator {
  margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}
