/* CSS for About Us page */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #EE2737; 
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.menu-item {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-item li {
  margin: 0;
}

.menu-item li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 50px; 
  background-color: #e74c3c; 
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

header {
  background-color: #fff; 
  color: #e74c3c; 
  padding: 20px;
  text-align: center;
}

section {
  margin-bottom: 20px;
  border: 1px solid #ccc; 
  padding: 20px;
  text-align: left; 
}

h2 {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  font-size: 2em; 
}

p {
  font-size: 1.2em; 
}


.creator {
  margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}
